<li style="margin-top: 15px;" [ngClass]="{'list-group-item': true,
            'list-group-item-success': loveIt >= 1,
            'list-group-item-danger': loveIt < 0}">
    <h3 style="float: right; font-style: italic;color: grey !important;">{{ lastUpdate | date: 'short' | uppercase}}</h3>
    <h2>{{ postTitre }}</h2>
    <h5>{{ postContent }}</h5>
    <button style="margin-right: 5px;" class="btn btn-success" (click)="onLove()">Love It !</button>
    <button class="btn btn-danger" (click)="onDontLove()">Don't Love it !</button>
    <button style="float: right;" class="btn btn-danger" >Supprimer le post</button>
</li>